/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }

/********** FONT *********/
@font-face {
    font-family: 'notokr-regular';
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype'),
         url('notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준********/
/************* 2020.05 YJ *************/
/*-------------------------------------*/

html {}
body { background: #0e0d0d;  position: relative; letter-spacing: -0.02em; font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }



/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh;background:#fff; 
position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 150px;position: absolute; top: 50%;margin-top: -100px; }
.loading-gif > p {  text-align: center; color: #2c3873; margin-top: 20px; font-size: 14px; opacity: 0.5; 
font-family: sans-serif; font-weight: bold;}
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #333c4e;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-ment { text-align: center;  margin-top: 10px; font-weight: normal; color: #333c4e;letter-spacing: 2px;}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }

/*****IE 블락******/
.ie-block {  z-index: 99999; width:100%; height:100vh; background:#111; background: rgba(21, 21, 21, 0.9);position:fixed; top:0;left:0;bottom:0;right:0;}
.ie-block .alert-msg { position: absolute; background:#fff; box-sizing: border-box; padding: 25px; border-radius: 5px; 
box-shadow: 2px 2px 8px rgba(152, 153, 156, 0.2);width: 50%; left:25%; top: 50%; margin-top:-150px; }
.ie-block .alert-msg p { margin-bottom:8px;  text-align: center; color: #454750;font-size: 20px; }
.ie-block .alert-msg button {    display: block; width: 80%; margin: 0px auto;margin-top: 20px;
box-sizing: border-box;  padding: 10px; background: #ececf1;  border-radius: 4px; color: #565661; font-weight: bold; font-size: 14px; cursor: pointer; border: 1px solid #dedee2; letter-spacing: -0.05em; }


/* Header */
.interactive-header {  background: rgba(0,0,0,0.85); position: fixed;padding: 0px 7px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height:  32px; z-index: 100;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; } 
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; }
.interactive-header .khan_btn img { width:60px; height: auto; margin-top: 8px; opacity:0.7;}
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

/* common_header */
.common_header {  width: 100%;  position: relative;  box-shadow: 0px 0px 20px rgba(102, 103, 107, 0.15); border-bottom: 1px solid #cdd1d6;   z-index: 1;background: #fff;
display:none;}
.common_header .top_area_holder{ width: 100%;  height: 30px; background: #f5f5f5; }
.common_header .top_area {  width: 1050px; margin: 0 auto; height: 30px;  line-height: 29px; overflow: hidden; font-size: 12px;}
.common_header .top_area .family_site {  float: left;margin: 0;}
.common_header .top_area .family_site dd a {  color: #898989; font-size: 12px; }
.common_header .top_area .family_site dd span { color: #dfdfdf; padding: 0 2px; font-size: 12px;}
.common_header .top_area .membership {  float: right; }
.common_header .top_area .membership dd { float: left; margin-right: 6px;  padding-right: 4px;}
.common_header .top_area .membership dd a.log {font-weight: bold;color: #3b57c4; }
.common_header .top_area .membership dd span {  color: #dfdfdf;padding: 0 1px; font-size: 12px; }
.common_header .top_area  .membership dd a { color: #898989;font-size: 12px;}
.common_header .logo_area { width: 1050px;  margin: 0 auto; border-bottom: none; height: 124px;position: relative;}
.common_header .sec_title {  font-size: 38px;letter-spacing: -2px;line-height: 50px;text-align: center;  padding-top: 30px;}
.common_header .sec_title a { color:#111; }
.common_header .sub_logo { position: absolute; top: 21px;  left: 0; z-index: 5;}
.common_header .sub_logo a {  background: url("http://img.khan.co.kr/spko/sub_2016/sub_logo.png") no-repeat scroll 0 0; width: 134px;height: 31px; display: block;text-indent: -9999px;}
.common_header  .logo_area .sns_wrap {  position: absolute;top: 84px; right: 0;  z-index: 30;}
.common_header .logo_area .sns_wrap .social li { float: left;background: url("http://img.khan.co.kr/spko/main_2015/set_common.png?v=20180927") no-repeat scroll 0 0 transparent;
width: 27px; height: 30px;}
.common_header  .logo_area .sns_wrap .social li.facebook {  background-position: 0 0; margin-right: 5px;}
.common_header  .logo_area .sns_wrap .social li.twitter { background-position: -32px 0; margin-right: 6px;}
.common_header  .logo_area .sns_wrap .social li.instagram {  background-position: -121px 0;margin-right: 4px;}
.common_header  .logo_area .sns_wrap .social li.youtube {  width: 35px; background: url("http://img.khan.co.kr/spko/main_2015/icon_header_youtube.png") no-repeat scroll 0 0 transparent;
 background-position: 0 0; margin-right: 14px;}
.common_header .logo_area .sns_wrap .social li a { display: block; width: 27px;   height: 30px;text-indent: -9999px;}
/* common_header */
#header-m { display:none; }
.art_header { display:none; }
.common-footer #footer-m { display:none;}

.wrap { width:100%;  position: relative; overflow-x: hidden; }
.container {  width:100%; position: relative; min-height: 100vh;}
.shade-bottom { position: absolute; z-index: 9; bottom:0; left:0; width:100%; height: 100px; background: url("../img/shade-bottom.png") repeat-x; background-size: auto 100%; } 
.shade-top { position: absolute; z-index: 9; top:0; left:0; width:100%; height: 100px; background: url("../img/shade-top.png") repeat-x; background-size: auto 100%; }

.story-header {  width:100%;  position: relative;min-height: 100vh;overflow-x: hidden;}
.top-feature-back { width:100%; height: 100%;position: absolute; left:0;z-index:0; }
.top-feature-back > img { }
.top-feature { position:absolute;  width: 1000px; height: 750px; left: 50%; margin-left: -750px; }
.top-feature .top-graphic { position: absolute;}
.top-feature .top-graphic img { width:100%; }
.top-graphic-still { width: 800px;  left: 0;  bottom: 0; }
.top-graphic-device { width: 300px; bottom: 300px; left: 330px; overflow:hidden; }
.top-feature .top-graphic-device img { display: block; width:600px;  position: relative;} 
.top-graphic-device > .device-off { display:block;} 
.top-graphic-device > .device-on {display:none;} 
.top-graphic-persons {  width: 110px; bottom: 370px; left: 420px; }

.story-header .story-header-front {position: relative; top: 100px; left: 0; z-index: 1; box-sizing: border-box; padding-left: 55%; opacity:0;}
.story-header .story-header-front .page-title-holder  {  margin-bottom: 30px;}
.story-header .story-header-front .page-title-holder .page-title-semi {width: 220px;}
.story-header .story-header-front .page-title-holder .page-title-main { width: 300px;margin-top: 20px;}
.story-header .story-header-front .page-title-holder > div > img { width:100%; } 
.story-header .story-header-front .top-desc {  max-width: 500px; margin: 30px 0; color: #fff; font-size: 16px; line-height: 1.6;}
.top-byline {  margin: 20px auto;}
.top-byline .top-border p { font-size: 13px; line-height:21px; color: #fff;opacity: 0.8; }
.top-byline .top-border p strong { margin: 0px 5px; }
.top-byline .top-border p a {color: #fff; }
.top-byline .top-border p a:hover {text-decoration: underline;}
.pc-share {  width: 95px;  }
.pc-share .share_bx { }
.pc-share .share_bx::after { display: block; clear: both; content:''; }
.pc-share .share_bx { float: none; top:0; }
.pc-share .share_bx > div { float:left;  cursor: pointer;}
.pc-share .share_bx > div a { width: 100%; }
.pc-share .share_bx > div a img { width:100%; }
.pc-share .share_bx > .share_fb {width: 25px; margin: 7px 7px;}
.pc-share .share_bx > .share_tw {width: 40px; margin: 7px 7px;}
.going-down {  z-index: 10;  position: absolute;  bottom: 20px; left: 50%; margin-left: -100px; width: 200px;opacity: 0.6;  }
.going-down span { display: block; text-align: center; color: #fff; font-size: 14px;}
.going-down img { width: 18px; height: 10px;margin: 0 auto;  animation: goDown 1s cubic-bezier(0.37,0.01,0.55,0.99) infinite;  display:block; margin-top: 20px; }
@keyframes goDown{
	0%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}
	50%{-webkit-transform:translateY(-15px); transform:translateY(0)}to{-webkit-transform:translateY(-15px);transform:translateY(-15px)}	
}

.story-body { width:100%; }
.time-warp { width:100%;box-sizing: border-box; padding: 200px 0; padding-bottom: 100px; }
.time-warp .button { font-size: 20px; text-align: center; color:#fff; width: 300px; margin: 0 auto; font-weight: 300; } 
.time-warp .number-count {margin-top: 30px;} 
.time-warp .number-count p {font-size: 80px; text-align: center; color: #fff; font-weight: 200; line-height: 1; filter: blur(5px);
transition: filter 2s ease 0s; opacity: 0.5;    letter-spacing: 5px; }
.time-warp .number-count p.removeBlur { filter: none; opacity: 1;  }

.sec-bg {width: 100%; height:100vh;position: fixed; top: 0; left: 0;z-index:0; display:none; }
.sec-bg ul {width:100%; height:100%;}
.sec-bg ul li{ width:100%; height:100%; position: absolute; top: 0; left:0;}
.bg { display:none; }
.bg--1 { display:block;}
.bg--1 .el--1{ position: absolute; right:0;bottom:0;}
.bg--1 .el--1 img{ opacity: 0.2;}

.timeline-area { width: 100%; /*overflow-x: hidden; */overflow-y: visible; box-sizing: border-box; padding-top: 160px; position: relative; }
.timeline-holder { width:100%; overflow: visible;max-width: 950px;min-height:2000px; margin: 0 auto; position: relative;opacity: 1;   }
.back-line { width: 100%; height: 100%; position: absolute; top: 0; left: 0;z-index:1; }
.back-line .line { height: 100%;  position: absolute;}
.back-line .line .line-body { background:#fff; width: 1px; position: relative; height:100%; }
.back-line .line--left .line-body{ opacity: 0.1;}
.back-line .line--center {left: 50%;}
.back-line .line--center .line-body {opacity: 0.5; width: 1px;}
.back-line .line--right { left: 100%;}
.back-line .line--right .line-body {opacity: 0.1;}
.back-line .line > .line-head { opacity: 0.8; position: absolute; top: -40px; left: 0; width: 200px;margin-left: -100px;color: #fff;
text-align: center; font-size:16px; }
.back-line .line > .line-head span { margin-left: 5px; font-size: 14px;  opacity: 0.7; display:block; } 
.back-line .line--center .line-head { opacity: 1; font-size: 18px; font-weight: bold; }

.front-ele-area {width: 100%; position: relative; top: 0; left: 0; z-index:2; }
.front-ele-area .each-section {position: relative; box-sizing: border-box;padding: 80px 0; }
.sec-title { position: relative; box-sizing:border-box; padding: 20px 0; background: rgb(14, 13, 13, 0.8);max-width: 900px; margin: 0 auto;}
.sec-title > h2 {display: none;}
.sec-title .img-title { margin-bottom: 15px;}
.sec-title .img-title img { display: block; margin: 0 auto; }
.sec-title  .sec-year {  text-align: center; font-size: 15px;  color: #fff; font-weight: bold; margin-bottom:15px;}
.sec-title .sec-title-desc { } 
.sec-title .sec-title-desc p {max-width: 600px;margin: 0 auto; margin-top: 20px;font-size: 20px;font-weight: 500;color: #e1e1e4;color: #fff;line-height: 1.6;text-align: center;text-align:left;}  
.section-body {width: 100%; position: relative;    margin-top: 100px;}

.timeline-el {position: absolute;}
.el-card { width: 500px;border: 3px solid transparent; box-sizing: border-box;}
.timeline-el .el-year {color: #fff; position: absolute;width: 80px;}
.timeline-el .el-year .year { text-shadow: 1px 1px 0px #111; font-size: 13px;letter-spacing: 0.02em;position: relative;  width: 100%;display: block;text-align: center;}
.timeline-el .el-year .spot {position: absolute; width: 4px; height: 4px; background: #fff;border-radius: 50%;top: -5px;left: 50%;margin-left: -2px;}
.timeline-el .card-body { background: #fff; box-sizing: border-box; padding:25px; border-radius: 2px; transition:all 0.15s ease 0s; 
box-shadow: 5px 5px 10px rgba(0,0,0,0.8); z-index: 3;  position: relative;}
.el-card {cursor: pointer;  }
.el-card .card-body:hover > .view-card p { opacity:1;  background: #eaeaea;}
.timeline-el .card-body-hover { box-shadow: 3px 3px 10px rgba(255, 106, 0, 0.8); }
.timeline-el .card-body .card-thumb { position: absolute; height: 100%; left: 0; top: 0; z-index: 1;max-width: 230px; overflow: hidden;}
.timeline-el .card-body .card-thumb img { height:100%; }
.timeline-el .card-body .card-text {position: relative; z-index: 2;width: 100%; box-sizing: border-box; padding-bottom: 40px;}
.timeline-el .card-body .card-text .card-title {  font-weight: bold;font-size: 22px;text-shadow: 1px 1px 1px rgba(255,255,255,0.5);margin-bottom: 5px;}
.timeline-el .card-body .card-text .card-desc-point { font-size: 17px; line-height: 1.45; text-shadow: 1px 1px 1px rgba(255,255,255,0.5);}
.view-card { position: absolute; bottom: 15px; right: 15px;z-index: 3;}
.view-card p {text-align: right; font-size: 14px; font-weight: bold; color: #444; cursor: pointer; opacity:0.7;box-sizing: border-box; padding: 3px 6px;}
/* .view-card p:hover { opacity:1;  background: #eaeaea;} */
.timeline-el .card-body .arrow { position: absolute; }
.thumb-shade { width:150px; height:100%; position:absolute;  right:0; top:0;bottom:0;
background:url("../img/thumb-shade.png") repeat-y;  background-position: right; background-size: 100% auto;}
.card-share { position: absolute; bottom: -32px; right: 6px; }
.card-share > div { float: left;  cursor: pointer;opacity: 0.7;}
.card-share .share_fb { margin-right: 10px;}
.card-share .share_tw {}
.card-share > div > a > img { height: 25px; }
.card-share > div:hover { opacity:1; }

.show-rel-card { cursor: pointer; position: absolute; bottom: -20px; left: -6px; box-sizing: border-box; padding: 5px 6px; z-index:4; background: #ff4800;border-radius: 2px;}
.show-rel-card .rel-icon { position: relative; height: 18px;}
.show-rel-card .rel-icon img {vertical-align: top; width: 20px; }
.icon-desc { vertical-align: top; padding-left:2px; text-align: left;font-size: 12px;line-height:18px; color:#fff; opacity:0.8;} 
.show-rel-card:hover { box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.2);}
.show-rel-card:hover > .rel-icon .icon-desc  {opacity:1;}

/**** 이미지, 썸네일 없는 버전 ***/
.el-no-img {}
.el-no-img .card-body .card-thumb { display:none;}

/**** 이미지 있는 버전 ***/
.el-with-img {}
.el-with-img .card-body .card-text { padding-left: 120px;}
.el-with-img .card-body { min-height: 130px;}

/**** 타래 있는 버전 ***/
.el-with-rel .show-rel-card { display:block; }

/**** 심플 텍스트 유형 ****/
.el-simple { width: 400px; }
.el-simple.el-center { margin-left: -200px;}
.el-simple .card-body { background: none; padding: 0; box-shadow:none;}
.el-simple .card-body .card-text { padding-bottom: 0; }
.el-simple .card-body .card-text .card-title {color: #fff;text-align: center;text-shadow: 1px 1px 0px #111; font-size: 16px;}
.el-simple .el-year { top: -20px; }
 
.timeline-el-focus.el-simple { background: #111; }

/**** 심플 카드 유형 ****/
.el-simple-card { width: 400px;}
.el-simple-card .card-body{padding: 15px 20px;}
.el-simple-card .card-body .card-text { padding-bottom: 0; }
.el-simple-card .card-body .card-text .card-title {  font-size: 18px;line-height: 1.3;}
.el-simple-card .card-body .card-text .card-desc-point { font-size: 15.5px;}
.el-simple-card .el-year {  }

/**** 우측라인, 법라인 ***/
.el-right {right: 0;}
.el-right .el-year { right: -80px; top: 30px;}
.el-right .el-year .spot { }
.el-right { right:40px;  }
.timeline-el .card-body .arrow-right { right: -15px; top: 10px; } 

.el-right.el-simple { right: 0;width:auto;}
.el-right.el-simple  .el-year {top: -20px; right: -40px; left:auto; }
.el-right.el-simple .card-body .card-text .card-title {text-align: right; position: relative; right: -20px;}

/**** 좌측라인, 사회문화라인 ***/
.el-left {left: 0;}
.el-left .el-year { left: -80px; top: 30px;}
.el-left .el-year .spot { }
.el-left { left:40px;  }
.timeline-el .card-body .arrow-left { left: -15px; top: 10px; } 

.el-with-img.el-left .card-body .card-text{ padding-right: 120px; padding-left:0;}
.el-with-img.el-left .card-body .card-thumb { left:auto; right:0;}
.el-left .thumb-shade { right: auto; left: 0; background:url("../img/thumb-shade-left.png") repeat-y;background-position: right; background-size: 100% auto;}
.el-left .view-card { right:auto; }
.el-left.el-simple { left:0; width:auto; }
.el-left.el-simple  .el-year {top: -20px;left: -40px; }
.el-left.el-simple .card-body .card-text .card-title {text-align: left; position: relative; left: -20px;}


/**** 중앙라인, 사건라인 ***/
.el-center {left: 50%; }
.el-center .el-year { width:100%; left:0;  top: -30px;}
.el-center .el-year .year { font-weight: bold; }
.el-center.el-card { margin-left:-250px; }
.timeline-el .card-body .arrow-up { top: -8px; width: 100%; left: 0; } 
.timeline-el .card-body .arrow-up img { display: block; margin: 0 auto;}
.el-center.el-simple  .el-year {top: -20px; }



/*****  SVG  *******/
.timeline-el > svg { position: absolute; top:0; overflow: visible; width:10px; }
.el-right svg {top: 50px;right: -10px; }
svg .line-noraml { fill:none; stroke-width:1.2px; stroke:#ff6716; stroke-opacity: 0.5; }

#svg-s1-e1 { top: 50px;right: -10px; }
#svg-s3-e2 { top: 50px;left:20px; }
#svg-s3-e3 { top: 50px; right:auto; left:20px; }
#svg-s4-e1 { top: 50px; right:auto; left:20px; }
#svg-s4-e4 { top: 50px; right:auto; left:20px; }
#svg-s6-e2 { top: 50px;left:20px; }
#svg-s6-e4 { top: 50px;left:20px; }
#svg-s7-e2 { top: 50px;left:20px; }
#svg-s8-e5 {}
#svg-s8-e7 {}
#svg-s8-e9 {}
#svg-s11-e5 {}
#svg-s11-e6 {}
#svg-s15-e6 {}
#svg-s10-e3 {}
#svg-s13-e12 {}
#svg-s14-e8 {}
#svg-s15-e2 {}
#svg-s10-e4 {}
#svg-s14-e2 {} 
#svg-s14-e11 {}
#svg-s12-e2 {}
#svg-s13-e6 {top: 30px;right: auto;left: 0;}
#svg-s13-e13 { right: auto; left: 0;top: 0;}
#svg-s14-e1 {}
#svg-s15-e1 {}
#svg-s15-e3 {}


.timeline-el-focus svg .line-noraml { stroke-opacity:1; }


/**** 사건개별 위치조정 ***/
.s1-e1 .card-body { }
.s1-e1 { top: 0px;}
.s1-e2 { top: 300px;}
.s1-e3 { top: 470px;}
.s1-e4 { top: 750px;}

.s2-e1 { top: 0px;}
.s2-e2 { top: 250px;}

.s3-e1 { top: 50px;}
.s3-e2 { top: 350px;}
.s3-e3 { top: 580px;}
.s3-e4 { top: 750px;}

.s4-e1 { top: 0px;}
.s4-e2 { top: 300px;}
.s4-e3 { top: 520px;}
.s4-e4 { top: 740px;}

.s5-e1 { top: 50px;}
.s5-e2 { top: 250px;}
.s5-e3 { top: 450px;}
.s5-e4 { top: 650px;}
.s5-e5 { top: 900px;}
.s5-e6 { top: 1100px;}

.s6-e1 { top: 0px;}
.s6-e2 { top: 150px;}
.s6-e3 { top: 350px;}
.s6-e4 { top: 550px;}

.s7-e1 { top: 50px;}
.s7-e2 { top: 400px;}
.s7-e3 { top: 600px;}
.s7-e4 { top: 850px;}
.s7-e5 { top: 1050px;}

.s8-e1 { top: 50px;}
.s8-e2 { top: 250px;}
.s8-e3 { top: 550px;}
.s8-e4 { top: 800px;}
.s8-e5 { top: 1000px;}
.s8-e6 { top: 1200px;}
.s8-e7 { top: 1350px;}
.s8-e8 { top: 1550px;}
.s8-e9 { top: 1700px;}

/*
.s9-e1 { top: 0px;}
.s9-e2 { top: 250px;}
.s9-e3 { top: 500px;}
.s9-e4 { top: 750px;}
.s9-e5 { top: 1000px;}
.s9-e6 { top: 1250px;}*/
.sec--9 { display:none; }

.s10-e1 { top: 0px;}
.s10-e2 { top: 300px;}
.s10-e3 { top: 600px;}
.s10-e4 { top: 720px;}


.s11-e1 { top: 50px;}
.s11-e2 { top: 250px;}
.s11-e3 { top: 500px;}
.s11-e4 { top: 750px;}
.s11-e5 { top: 850px;}
.s11-e6 { top: 1000px;}

.s12-e1 { top: 50px;}
.s12-e2 { top: 300px;}
.s12-e3 { top: 550px;}
.s12-e4 { top: 700px;}


.s13-e1 { top: 0px;}
.s13-e2 { top: 300px;}
.s13-e3 { top: 550px;}
.s13-e4 { top:850px;}
.s13-e5 { top: 930px;}
.s13-e6 { top: 1000px;}
.s13-e7 { top: 1100px;}
.s13-e8 { top: 1350px;}
.s13-e9 { top: 1600px;}
.s13-e10 { top: 1850px;}
.s13-e11 { top: 1900px;}
.s13-e12 { top: 2050px;}
.s13-e13 { top: 2250px;}
.s13-e14 { top: 2400px;}
.s13-e15 { top: 2480px;}
.s13-e16 { top: 2550px;}

.s14-e1 { top: 0px;}
.s14-e2 { top: 250px;}
.s14-e3 { top: 500px;}
.s14-e4 { top: 900px;}
.s14-e5 { top: 980px;}
.s14-e6 { top: 1060px;}
.s14-e7 { top: 1200px;}
.s14-e8 { top: 1350px;}
.s14-e9 { top: 1600px;}
.s14-e10 { top: 1800px;}
.s14-e11 { top:2000px;}
.s14-e12 { top: 2080px;}

.s15-e1 { top: 0px;}
.s15-e2 { top: 250px;}
.s15-e3 { top: 350px;}
.s15-e4 { top: 530px;}
.s15-e5 { top: 650px;}
.s15-e6 { top: 800px;}




/**** 사건개별 위치조정 ***/

.timeline-el-off { opacity:0.1; pointer-events: none; }
.timeline-el-focus { opacity:1;pointer-events: auto;border: 3px solid #ff9c34; box-shadow: 2px 2px 15px rgba(255, 103, 0, 0.7); border-radius: 2px;}
.timeline-el-focus .card-body { box-shadow:none; }
.timeline-el-focus .show-rel-card { display:none; }
.timeline-el-focus.el-simple .card-body { background:#111;}

.timeline-el-focus.el-simple .card-body .card-text .card-title {box-sizing: border-box; padding: 5px 10px; margin-bottom:0; }
.timeline-el-focus.el-simple.el-right .card-body .card-text .card-title { right:0px;}
.timeline-el-focus.el-simple.el-left .card-body .card-text .card-title { left:0px;}

.filter-card-navi {position: absolute; left:-45px;top:0;width:40px; height: 100%;display:none;}
.filter-card-navi > div { position: absolute;  cursor:pointer;box-sizing: border-box;  padding: 5px;}
.filter-card-navi > div > img { width:100%; vertical-align: middle; display: block;}
.filter-card-navi > div:hover {  border-radius: 2px;border: 1px solid #ff8300;}
.filter-card-navi .arr-up{ width: 32px; top: 0; left:0; box-shadow: 1px 1px 5px rgba(255, 143, 0, 0.7);border: 1px solid transparent; }
.filter-card-navi .arr-down{width: 32px; bottom: 0; left:0; box-shadow: 1px 1px 5px rgba(255, 143, 0, 0.7);border: 1px solid transparent;}
.filter-card-navi .filter-exit{width: 22px; padding: 5px; top: 50%;left: 5px; margin-top: -10px;}
.timeline-el-focus .filter-card-navi  { display:block; }
.sec-title-off { opacity:0.2;}
.filter-card-navi .arr-info { cursor: default; left: -80px;color: #ff7800;font-size: 16px;top: 50%; margin-top: -30px;padding: 0;line-height: 1; pointer-events: none;}
.filter-card-navi .arr-info span.f_i {  font-size: 32px; font-weight: bold;}
.filter-card-navi .arr-info span.slash { font-size: 12px; opacity: 0.4; padding: 0px 4px;  }
.filter-card-navi .arr-info span.total { opacity: 0.7; }
.el-simple .filter-card-navi .arr-up {top: -25px;}
.el-simple .filter-card-navi .arr-down {bottom:-25px;}


.el-left .filter-card-navi { left: auto; right: -60px; }
.el-left .filter-card-navi .arr-info { left: auto; right: -60px;}

/****** 필터링 *****/
.card-filter { width:100%; position: absolute; top: 0; left:0;   margin-bottom: 50px;}
.card-filter .filter-wrap { max-width: 1100px; margin: 0 auto; }
.card-filter .filter-wrap .filter-toggle { box-sizing:border-box; padding: 15px 0px;}
.card-filter .filter-toggle-button { display: inline-block; position: relative;}
.card-filter .button-block { pointer-events: none; opacity:0.3; }
.card-filter .filter-toggle-button .button-border {transition:all 0.2s ease 0s; display: inline-block;  color:#fff; font-size: 14px; box-sizing: border-box; padding: 6px 15px;  
cursor: pointer; opacity: 0.8;border: 1px solid #fff;border-radius: 4px; position: relative;}
.card-filter .filter-toggle-button .button-border:hover { opacity:1;background: rgba(255,255,255,0.1); text-shadow: 1px 1px 3px #111; }
.card-filter .filter-toggle-button span.filter-icon { margin-right: 7px;}
.card-filter .filter-toggle-button span.filter-icon img { vertical-align: middle;}
.card-filter .filter-list { margin-top: 10px; display:none;}
.card-filter .filter-list ul { }
.card-filter .filter-list ul li { cursor: pointer; display: inline-block; box-sizing: border-box;
 padding: 4px 12px; font-size: 14px;margin: 2px 2px; border-radius: 3px; font-weight: bold; background: rgba(255,255,255,0.85);}
.card-filter .filter-list ul li:hover{ color: #ff8300; background:#fff; }
.card-filter .filter-list ul li.on {position: relative; color: #ff8300;  background:#fff; box-sizing:border-box; padding-right: 25px; }
.card-filter .filter-list ul li.on span.exit { display:block; width:10px; height:10px; background:url("../img/exit-icon-or.png") no-repeat; 
background-size:10px 10px; position:absolute;  right: 8px;  top: 9px; }
.card-filter-fixed { position: fixed; top: 32px; left:0; /* background: rgba(0,0,0, 0.7);  */backdrop-filter: blur(2px); z-index: 997;}
.card-filter .filter-toggle-on .filter-toggle-button .button-border {  border: 1px solid transparent; opacity:1; padding-right: 30px;}
.card-filter .filter-toggle-on .filter-toggle-button .button-border em { display:block; width: 8px; height: 8px; background: url("http://img.khan.co.kr/spko/storytelling/2019/labordeath/ex-icon-w.png"); 
position: absolute;  top: 50%; margin-top: -4px;right:10px; background-size: 8px 8px;}

.filter-toggle-button-selected { }
.hidden-status {position: absolute;top: 0; right: -140px; display:none;}
.hidden-status .user-select { font-size: 14px; box-sizing: border-box; padding: 6px 15px;padding-right: 30px;color: #ff7800;cursor: pointer;  border-radius: 2px;}
.hidden-status .value {padding-left: 4px;}
.hidden-status .exit { display:block; width:10px; height:10px; background:url("../img/exit-icon-or.png") no-repeat; 
background-size:10px 10px; position:absolute;  right: 8px;  top: 10px; }
.filter-toggle-button-selected .hidden-status { display:block; }
.card-filter .filter-toggle-button-selected .button-border {  pointer-events: none;  border: none; }
.hidden-status .user-select:hover{ background: rgba(255,255,255,0.1); }

/****** 필터링 *****/


/**** 사건카드 팝업 ***/
.popUp-layer { display: none;}
.popUp-back { position: fixed; top:0;left:0; background: rgba(26, 26, 27, 0.7); backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px);width:100%; height:100vh;  z-index: 998; }
.popUp-front { position: fixed; z-index: 999; top: 0; left: 0; }
.popUp-con-holder {width: 600px; position: fixed; left:50%; margin-left:-300px;}
.popUp-body { background:#fff; border-radius: 5px; box-shadow: 3px 3px 10px rgba(0,0,0,0.2);position: relative;top: 10vh;}
.popUp-body .body-scroll {box-sizing: border-box;  padding: 30px;overflow-y: scroll;  max-height: 75vh;}
.popUp-body .year { position: absolute; top: -30px; color: #fff; text-align: center; width: 100%; left: 0; font-size: 18px;letter-spacing: 0.04em;}
.popUp-body .popUp-card-thumb {margin-bottom: 15px;}
.popUp-body .popUp-card-thumb .thumb-holder { width: 250px;  height: 100%;display: block;  margin: 0 auto;overflow: hidden;border: 2px solid #111; border-radius: 4px; box-shadow: 3px 3px 0px #111;} 
.popUp-body .popUp-card-thumb .thumb-holder img {width: 100%; vertical-align: middle;} 
.popUp-body .popUp-card-title { text-align: center; font-size: 22px; line-height: 1; margin:15px auto; font-weight: bold;}
.popUp-body .popUp-card-text-holder {margin: 20px auto; }
.popUp-body .popUp-card-text-holder .popUp-card-point-text {}
.popUp-body .popUp-card-text-holder .popUp-card-full-text {}
.popUp-body .popUp-card-text-holder > div > p {  margin: 15px auto;  font-size: 16px; line-height: 1.65; color: #47484a;}
.popUp-body .popUp-card-text-holder .popUp-card-point-text p {text-align: center;margin-bottom: 10px;  color: #ff4800; font-size: 18px; }
.popUp-card-tag { width: 100%;  margin: 20px auto;}
.popUp-card-tag p.th { display: table-cell; min-width: 50px;font-weight: bold; color: #47494a; font-size: 15px;}
.popUp-card-tag .tag-list {display: table-cell;} 
.popUp-card-tag .tag-list span{ display: inline-block;box-sizing: border-box; padding: 3px 8px; color: #111; font-size: 14px; margin: 2px 1px; border-radius: 3px; font-weight: bold; border: 1px solid #7d7d7d;}
.popUp-body .card-close {  display: block; position: relative;}
.popUp-body .card-close > button { width: 200px; box-sizing: border-box; padding: 12px 0;
border: none; font-weight: bold;color: #3d3e42; background: #dbdce0;text-shadow: 1px 1px 0px rgba(255,255,255,0.7);font-size: 15px;
font-weight: bold; cursor: pointer;border-radius: 2px; font-family: 'Noto Sans KR', 'notokr-regular'; float:right;}
.popUp-body .card-close > button:hover { background: #cdcfd4; }
.popUp-body .card-close::after { clear:both; content:""; display:block; }
.popUp-body .show-rel-card { transition:all 0.2s ease 0s; cursor: pointer;display: block;top: -5px;  bottom: auto; left: -5px; border-radius: 2px; background: #3a3a3a; 
background: #ff4800; box-sizing: border-box;padding: 7px 12px; display: none;}
.popUp-body .show-rel-card:hover { box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.2);}
.popUp-body .show-rel-card .rel-icon { opacity:1; height:auto;}
.popUp-body .show-rel-card .rel-icon img {  vertical-align: middle; width: 20px; }
.popUp-body .show-rel-card .icon-desc {position: relative;  opacity: 1; right: 0;  text-shadow: none; font-weight: normal;}
/**** 사건카드 팝업 ***/

/**** 사이드 고정 네비 ***/
/** fixed Navi **/
.fixed-navi {position: fixed; right: 25px;top: 50%;margin-top: -200px;font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕';
display:none;}
.fixed-navi .navi-body { height: 400px;}
.fixed-navi .navi-body .bar  {height:100%; width:2px; background:#fff; background: rgba(255, 255, 255, 0.3); position: relative; }
.fixed-navi .navi-body .bar .progress { position: absolute; background: #ff5200;  width:100%; height: 0%; top:0px; left:0px; }
.fixed-navi .navi-body .bar .step-txt { position: absolute; top:0px; right:0px; width: 200px;  height: 100%; text-align: right; box-sizing: border-box; padding-right: 20px; }
.fixed-navi .navi-body .bar .step-txt p {  font-size: 10px;line-height: 20px; color:#fff;  text-shadow: 1px 1px 1px #111;opacity: 0.5;   position: absolute; right: 10px; letter-spacing: 0; }
.fixed-navi .navi-body .bar .step-txt p.on { opacity:1; }
.fixed-navi .navi-body .bar .step-txt p.s00 {top: 0%; }
.fixed-navi .navi-body .bar .step-txt p.s01 {top: 5%; }
.fixed-navi .navi-body .bar .step-txt p.s02 {top: 10%; }
.fixed-navi .navi-body .bar .step-txt p.s03 {top: 15%; }
.fixed-navi .navi-body .bar .step-txt p.s04  {top: 20%; }
.fixed-navi .navi-body .bar .step-txt p.s05 {top: 25%; }
.fixed-navi .navi-body .bar .step-txt p.s06 {top: 30%; }
.fixed-navi .navi-body .bar .step-txt p.s07 {top: 35%; }
.fixed-navi .navi-body .bar .step-txt p.s08 {top: 40%; }
.fixed-navi .navi-body .bar .step-txt p.s09  {top: 60%; }
.fixed-navi .navi-body .bar .step-txt p.s10 {top: 75%; }
.fixed-navi .navi-body .bar .step-txt p.s11 {top: 82%; }
.fixed-navi .navi-body .bar .step-txt p.s12 {top:90%; }
.fixed-navi .navi-body .bar span.se-point {position: absolute; font-size: 13px; text-align: center;color: #fff;  opacity: 1;font-weight: bold; width: 30px; left: -15px;}
.fixed-navi .navi-body .bar span.start { top: -25px;}
.fixed-navi .navi-body .bar span.end { bottom:-20px; }


.fixed-focus-item-list { position: fixed; right: 20px; top: 50px; text-align: right; box-sizing: border-box; padding: 10px;  z-index: 999;
display:none;}
.fixed-focus-item-list .focus-title { font-size: 20px; color:#ff7800; }
.fixed-focus-item-list .focus-title .code {font-weight:bold; }
.fixed-focus-item-list .item-list-wrap {color:#fff; font-size: 16px; line-height:1.2; }
.fixed-focus-item-list .item-list-wrap ul {}
.fixed-focus-item-list .item-list-wrap ul li { transition:all 0.2s ease 0s; margin: 10px 0; }
.fixed-focus-item-list .item-list-wrap ul li.on{color:#ff7800;text-decoration: underline; }


/*****footer*****/
.footer-area {  background:#fff;  margin-top: 100px;  box-shadow: 0px -15px 20px rgba(0,0,0,0.05); border-top: 1px solid #cdd1d6; 
position: relative; z-index: 2; margin-top: 30px; }
.footer-area .copyright {}
.footer-area .copyright p { text-align: center; font-size: 14px; color:#555;line-height: 20px;  margin: 5px 0; }

.rel-article {  padding: 30px 0px; }
.rel-article .rel-box { width:100%; max-width: 750px; margin: 0 auto;   border: 1px solid #d2d1d6; border-bottom: 4px solid #222;}
.rel-article .rel-box-2 {   margin: 20px auto;}
.rel-article .rel-box-2 .rel-art-list { padding: 10px; }
.rel-article .rel-box .thumb { width:100%; position: relative; height: auto; }
.rel-article .rel-box .thumb a { width:100%; display:block; }
.rel-article .rel-box .thumb img { width:100%; }
.rel-article .rel-box .thumb .project-name { position: absolute; top: 10px; left:10px; background: #222;color:#fff;border-radius: 5px; font-weight: 300; 
 font-size: 18px; line-height:18px; padding: 8px 15px;text-align:center; color: #ddd; display: inline-block;display:none;  }
.rel-article .rel-box .rel-art-list { width:100%; box-sizing: border-box; padding: 20px 15px;position: relative;  }
.rel-article .rel-box .rel-art-list ul { width:100%; }
.rel-article .rel-box .rel-art-list ul li { margin: 6px 0px; text-align: center; }
.rel-article .rel-box .rel-art-list ul li a { text-align:left; color: #555; font-size: 17px; line-height:24px; }
.rel-article .rel-box .rel-art-list ul li a:hover { text-decoration: underline; }
.rel-article .rel-box .rel-art-list .more-btn { position: absolute; right: 10px; bottom: 10px; font-size: 14px;
color: #777;  background: url("http://img.khan.co.kr/spko/storytelling/2018/big/outlink.png") no-repeat; 
background-size: 15px 15px; padding-right: 20px;background-position: right;  cursor: pointer; opacity:0.7; }
.rel-article .rel-box .rel-art-list .more-btn:hover { opacity:1; }
.rel-article h4 { font-size: 16px;font-weight: 500;  text-align: center;margin-bottom: 20px;  margin-top: 20px;}
.rel-article .rel-box-bottom { margin-top: 20px; }

.bottom-byline {   width: 100%; max-width: 1050px;margin: 0 auto; margin-top: 20px;  }
.bottom-byline ul { font-family: 'Noto Sans KR', 'notokr-regular';   box-sizing: border-box; 
padding: 30px 0; text-align: center;  max-width: 500px; margin: 0 auto;}
.bottom-byline ul .team-wrap { width: 50%; float: left; }
.bottom-byline ul .team-wrap:nth-child(1) { margin-bottom: 15px; }
.bottom-byline ul::after { clear: both; content:''; display:block; }
.bottom-byline ul li { opacity:0.9;  font-weight: 300;font-size: 13px; line-height:20px; color:#222; letter-spacing: 0px; }
.bottom-byline ul li.team { font-weight: bold; font-size: 15px; opacity:1;   letter-spacing: -1px; margin: 5px 0px; }
.bottom-byline ul li.team span { margin: 0px 5px; font-size: 13px; position: relative; top: -2px; }
.bottom-byline ul li .roll { font-weight:bold; display: inline-block; margin: 7px 0px; }
.bottom-byline ul li a { display: inline-block;  color: #111;}
.bottom-byline ul li a:hover { /* background: rgba(129, 144, 255, 0.5);*/ text-decoration:underline; }

.digital-list-wrap { border-top: 1px solid #dbdbdb; }
.digital-list { position: relative; }

/******common footer******/
.common-footer {position: relative; background:#fff;}
#footer { position:relative;width: 1050px; margin: 0 auto;}
#footer:after { clear: both; content: ""; display: block;}
#footer .foot_info { border-top:1px solid #b9bbbe; padding:25px 0 20px;}
#footer .foot_info:after { clear: both; content: ""; display: block;}
#footer .foot_info a { color:#888; font-size:12px; line-height:15px;}
#footer .foot_info h2 { float:left; margin:2px 70px 0 90px;}
#footer .foot_info .cnt { float:left; width:755px;}
#footer .foot_info .cnt .blind {display:block; overflow:hidden; left:-9999px; position:absolute; width:1px; height:1px; line-height:0; text-indent:-9999px; font-size:0;}
#footer .foot_info .cnt dd.first { margin-bottom:2px;}
#footer .foot_info .link dd {line-height: 18px;}
#footer .foot_info .link span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .link span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info .adr { margin-top:4px; color:#888; font-size:12px;}
#footer .foot_info .adr span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .adr span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info address { color:#aaa; float:left; font-family:Verdana, Sans-serif; font-weight:bold; font-size:11px; margin-top:6px;}
#footer .foot_info address strong { color:#4d89f7;}
#footer .foot_info .khRss { float:left; margin-left:5px; margin-top:2px;}
#footer .foot_info .khRss a { background:url('http://img.khan.co.kr/spko/main_2013/set_common.png') no-repeat scroll 0 -964px transparent; display:block; width:14px; height:17px; overflow:hidden; text-indent:-9999px;}
.gotomobile {text-align:center;} /* 모바일 화면으로 보기 링크 버튼 */



/*-------------------------------------*/
/***** 전체 기본 CSS - 모바일 기준******/
/*-------------------------------------*/

/***** 노트북 *****/
@media screen and (max-width: 1380px) {


}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {

.img-pc { display:none; }
.img-m { display:block; }
.wrap { overflow-x: hidden; }
.interactive-header{ display:none; }
/* #header - GNB */
#header { display:none;  }
#header-m { display: block;position: fixed; left: 0; right: 0; width: 100%;  z-index: 30; top: 0;}
#header-m:after {content:""; position:absolute; left:0; bottom:0px; width:100%; height:1px; background-color:#dbdde0;}
#header-m.header {transition: All 0.3s ease-in-out;-webkit-transition: All 0.3s ease-in-out;-moz-transition: All 0.3s ease-in-out;-o-transition: All 0.3s ease-in-out;}
#header-m.header.hidetop {top:-50px;}
.head_article .common-header-title .tit_svc {  height: 34px; text-align: center;}
.screen_out {   overflow: hidden;position: absolute;  width: 0;height: 0; line-height: 0; text-indent: -9999px;}
.head_article {position:fixed; top:-60px; width:100%; min-width:320px; -webkit-transform:translate3d(0,0,0); z-index:100; transition:All 0.3s ease-in-out; -webkit-transition:All 0.3s ease-in-out; -moz-transition:All 0.3s ease-in-out; -o-transition:All 0.3s ease-in-out;}
.head_article.on {top:0;}
.head_article .common-header-title {position:relative; height:38px; border-bottom:1px solid #f0f0f0; background-color:#fff;}
.head_article .common-header-title .tit_svc {height:34px; text-align:center;}
.head_article .box_menu_left {position:absolute; left:7px; top:0; z-index:20;}
.head_article .box_menu_left .btn_menu {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_menu .ico_menu {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_menu.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_left .btn_gohome {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_gohome .ico_gohome {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_gohome.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_right {position:absolute; right:5px; top:0; z-index:20;}
.box_menu_btn {float:left; width:auto; height:38px; margin:0 7px;}
.box_menu_btn em {position:relative; top:-3px; margin-left:3px; font-size:12px;}
.box_menu_right .btn_scrap .ico_scrap {display:inline-block; width:18px; height:21px; margin:11px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_art_top_scrap.png") no-repeat 0 0; background-size:12px 18px; text-indent:-9999px;}
.box_menu_right .btn_share .ico_share {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_share.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.box_menu_right .btn_reply .ico_reply {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_reply.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.pc-share { display:none; }
.share_bx { float: none; top:0; }
.share_bx > div {  float: left;  }
.share_bx > div a { width: 100%; }
.share_bx > div a img { width:100%; }
.share_bx > .share_fb {width: 15px; margin: 7px 5px;}
.share_bx > .share_tw {width: 20px; margin: 5px 5px;}
.common-footer #footer { display:none;}
.common-footer #footer-m { display:block;}
.art_header { display:block; position: relative; margin-bottom: 15px; padding: 20px 20px 0; padding-top: 45px;}
.header_tit_serial {   margin: 7px 0 4px; color: #4469B0; font-size: 13px; font-weight: 700; letter-spacing: -0.075em;}
.header_tit_serial a {color: #4469B0; }
.art_header .tit_view {   overflow: hidden;  margin-top: 4px;font-weight: normal;color: #121212; font-size: 24px; line-height: 29px;letter-spacing: -0.025em;}




}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}